{{template "base" .}}
{{define "title"}}
    Test Page HotDev Jobs
{{end}}
{{define "css"}}
    
{{end}}
<body>
{{define "content"}}
    <h1>Go - Job Portal</h1>
{{end}}

{{define "js"}}

{{end}}
</body>