<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login HotDev Jobs</title>
    <script src="https://kit.fontawesome.com/a48a14c2f5.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body class="background">
<nav class="main_div">
    <div class="logo_left">
        <label class="logo">
            hotdevjobs
        </label>
        <label class="logo_com">
            .com
        </label>
    </div>
    <div class="logo_right">
        <label class="Candidate_login_btn">
            <a href="#">
                Job Candidate Login
            </a>
            <a href="#">
                /Register
            </a>
        </label>
        <label class="Recruiter_login_btn">
            <a href="#">
                Recruiter Login
            </a>
            <a href="#">
                /Register
            </a>

        </label>
    </div>
</nav>
<form action="">
    <div class="searchBox">
        <div class="inner">

            <input type="text" placeholder="Search for a job" name="job" value=""/>
            <input type="text" placeholder="Enter a location" name="location" value=""/>
            <button type="submit"><i class="fa fa-search"></i></button>

        </div>
    </div>
</form>
<footer>
    <label class="copy-right">Copyright © hotdevjobs.com</label>
</footer>
<script src="/static/js/jquery-3.7.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
